<div class="version-update" role="status" aria-live="polite">
  <div class="version-update__icon" aria-hidden="true">
    <mat-icon>refresh</mat-icon>
  </div>

  <div class="version-update__copy">
    <div class="version-update__title">Update available</div>
    <div class="version-update__versions" [title]="data.currentVersion + ' -> ' + data.deployedVersion">
      <span>{{ currentVersion }}</span>
      <mat-icon>arrow_forward</mat-icon>
      <span>{{ deployedVersion }}</span>
    </div>
  </div>

  <div class="version-update__actions">
    <button type="button" mat-flat-button class="version-update__reload" (click)="reload()">
      <mat-icon>refresh</mat-icon>
      <span>Reload</span>
    </button>
  </div>
</div>
